/* style file */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #dddddd;
}

